<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE tiles-definitions PUBLIC "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN" 
	"http://tiles.apache.org/dtds/tiles-config_3_0.dtd">

<tiles-definitions>

	<definition name="base"
		template="/WEB-INF/templates/layout.jsp">
		<put-attribute name="title" value="title.home" />
		<put-attribute name="header" value="/WEB-INF/templates/header.jsp" />
		<put-attribute name="jumbotron" value="" />
		<put-attribute name="body" value="" />
		<put-attribute name="footer" value="/WEB-INF/templates/footer.jsp" />
	</definition>

	<definition name="home" extends="base">
		<put-attribute name="jumbotron" value="/WEB-INF/templates/jumbotron.jsp" />
		<put-attribute name="body" value="/WEB-INF/views/home.jsp" />
	</definition>

	<definition name="signup" extends="base">
		<put-attribute name="title" value="title.signup" />
		<put-attribute name="body" value="/WEB-INF/views/signup.jsp" />
	</definition>

	<definition name="login" extends="base">
		<put-attribute name="body" value="/WEB-INF/views/login.jsp" />
	</definition>

	<definition name="offerRide" extends="base">
		<put-attribute name="body" value="/WEB-INF/views/offerRide.jsp" />
	</definition>

	<definition name="findRide" extends="base">
		<put-attribute name="body" value="/WEB-INF/views/findRide.jsp" />
	</definition>

	<definition name="myBookings" extends="base">
		<put-attribute name="body" value="/WEB-INF/views/myBookings.jsp" />
	</definition>

	<definition name="myRides" extends="base">
		<put-attribute name="body" value="/WEB-INF/views/myRides.jsp" />
	</definition>


</tiles-definitions>